body {
    padding: 0 10vw;
}

#settings {
    display: grid;
    grid-template-columns: 15rem 5rem;
    grid-template-rows: repeat(4, 1fr);
    gap: 0.5rem 5rem;
    grid-template-areas:
        "theme theme_set"
        "incognito incognito_set"
        "discard_all discard_all_set"
        "save save";
}

.option_button {
    height: 1.1875rem;
}

#theme_title {
    grid-area: theme;
}

#theme_seting {
    grid-area: theme_set;
}

#incognito_title {
    grid-area: incognito;
}

#incognito_setting {
    grid-area: incognito_set;
}

#discard_all_title {
    grid-area: discard_all;
}

#discard_all_setting {
    grid-area: discard_all_set;
}

#save {
    grid-area: save;
    width: 30%;
}